#ex-090-content, #ex-080-content-a,
#ex-080-content-b, #ex-020-content {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#ex-010-content1,
#ex-010-content2 {
  display: none;
  padding: 2px;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

#ex-010-content1 {
  width: 80%;
  min-width: 320px;
  max-width: 420px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22400%22%20height%3D%22400%22%20viewBox%3D%220%200%20130.32%20127.1%22%3E%3Cpath%20fill%3D%22%23487e49%22%20d%3D%22M65.16%200C29.18%200%200%2029.17%200%2065.16c0%2028.78%2018.67%2053.21%2044.56%2061.82%203.26.6%204.45-1.41%204.45-3.14%200-1.55-.05-5.65-.09-11.08-18.12%203.93-21.95-8.74-21.95-8.74-2.96-7.52-7.24-9.52-7.24-9.52-5.92-4.05.45-3.97.45-3.97%206.54.47%209.98%206.72%209.98%206.72%205.81%209.96%2015.25%207.08%2018.96%205.42.59-4.21%202.27-7.08%204.13-8.71-14.47-1.64-29.68-7.23-29.68-32.2%200-7.11%202.54-12.93%206.71-17.48-.67-1.65-2.91-8.27.63-17.24%200%200%205.47-1.75%2017.92%206.68%205.2-1.45%2010.77-2.17%2016.31-2.2%205.53.03%2011.11.75%2016.31%202.2%2012.44-8.43%2017.9-6.68%2017.9-6.68%203.55%208.97%201.32%2015.6.64%2017.24%204.18%204.56%206.7%2010.37%206.7%2017.48%200%2025.03-15.23%2030.54-29.75%2032.15%202.34%202.01%204.42%205.99%204.42%2012.07%200%208.71-.08%2015.74-.08%2017.88%200%201.74%201.17%203.77%204.48%203.13%2025.87-8.63%2044.52-33.04%2044.52-61.82C130.32%2029.17%20101.14%200%2065.16%200%22%2F%3E%3C%2Fsvg%3E") right -86px bottom -15px/220.24px 214.8px no-repeat #508c50;
  border-color: #7ab97a #4d694d #4d694d #7ab97a;
  color: #fffad7;
  font-size: 18px;
  position: relative;
}
#ex-010-content1 ul {
  padding-left: 30px;
}
#ex-010-content1 #ex-010-head {
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}
#ex-010-content1 #ex-010-close1 {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#ex-010-content1 #ex-010-close1 path {
  fill: none;
  stroke: #508c50;
  stroke-width: 8px;
  stroke-linecap: round;
}
#ex-010-content1 #ex-010-close1 rect {
  fill: #a7c394;
}
#ex-010-content1 #ex-010-close1:hover rect {
  fill: #fed766;
}

#ex-010-content2 {
  width: 90%;
  min-width: 380px;
  background-color: #aadde4;
  border-color: #d0f2f7 #8aaaaf #8aaaaf #d0f2f7;
  color: #0e6d7b;
  text-align: center;
}
#ex-010-content2 p {
  margin: 0;
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  #ex-010-content1,
#ex-010-content2 {
    padding: 4px 8px;
  }

  #ex-010-content1 {
    min-width: 680px;
    max-width: 740px;
    min-height: 416px;
    background-position: right -160px bottom -30px;
    background-size: 400px 390.11px;
    font-size: 22px;
  }
  #ex-010-content1 ul {
    padding-left: 40px;
  }
  #ex-010-content1 #ex-010-head {
    margin-bottom: 8px;
    font-size: 3em;
  }

  #ex-010-content2 {
    max-width: 800px;
  }
  #ex-010-content2 p {
    margin: 0;
    font-size: 42px;
  }
}
#ex-020-table {
  display: table;
  width: 100%;
  margin: 1em 0;
}
#ex-020-table > div {
  display: table-cell;
  width: 33%;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}

/* Copy from: http://getbootstrap.com/ */
#ex-020-content {
  display: none;
  will-change: transform;
  transition-property: transform;
  transition-duration: 500ms;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  width: 600px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#ex-020-content.force {
  transition-property: none;
}
#ex-020-content #ex-020-head {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#ex-020-content #ex-020-head #ex-020-close {
  margin-top: -2px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  cursor: pointer;
}
#ex-020-content #ex-020-head #ex-020-close:hover {
  opacity: 0.5;
}
#ex-020-content #ex-020-title {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  margin: 0;
}
#ex-020-content #ex-020-body {
  padding: 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
#ex-020-content #ex-020-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
#ex-020-content #ex-020-footer button {
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  border: 1px solid transparent;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-family: inherit;
  min-width: 0;
}
#ex-020-content #ex-020-footer button:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
#ex-020-content #ex-020-footer button#ex-020-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#ex-020-content #ex-020-footer button#ex-020-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

#ex-030-content {
  display: none;
  width: 480px;
  border: 1px solid;
  border-color: #d6cec6 #424242 #424242 #d6cec6;
}
#ex-030-content #ex-030-in {
  border: 1px solid;
  border-color: #fff #848484 #848484 #fff;
  background-color: #d6cec6;
}
#ex-030-content #ex-030-title {
  margin: 1px;
  padding: 5px 2px;
  background-color: #000084;
  color: #fff;
  font-family: Tahoma, "MS Sans Serif", "MS PGothic", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 8px;
  position: relative;
}
#ex-030-content #ex-030-title::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 2px;
  width: 16px;
  height: 14px;
  background-image: url("../img/ex-030-button.gif");
}
#ex-030-content #ex-030-body {
  margin: 10px;
  color: #000;
  font-family: Tahoma, "MS Sans Serif", "MS PGothic", Helvetica, sans-serif;
  font-size: 11px;
}
#ex-030-content #ex-030-body::before {
  content: "";
  margin: 0 20px 10px 0;
  float: left;
  width: 32px;
  height: 32px;
  background-image: url("../img/ex-030-icon.gif");
}
#ex-030-content #ex-030-footer {
  clear: both;
  margin: 10px 0 10px;
  text-align: center;
}
#ex-030-content #ex-030-footer button {
  border-radius: 0;
  min-width: 0;
  margin: 0 10px;
  padding: 0;
  color: #000;
  background-color: transparent;
  font-family: Tahoma, "MS Sans Serif", "MS PGothic", Helvetica, sans-serif;
  font-size: 11px;
}
#ex-030-content #ex-030-footer button:hover, #ex-030-content #ex-030-footer button:focus, #ex-030-content #ex-030-footer button:active {
  background-color: transparent;
}
#ex-030-content #ex-030-footer button span {
  display: inline-block;
}
#ex-030-content .ex-030-btn-out {
  border: 1px solid;
  border-color: #fff #424242 #424242 #fff;
}
#ex-030-content .ex-030-btn-in {
  border: 1px solid;
  border-color: #d6cec6 #848484 #848484 #d6cec6;
}
#ex-030-content #ex-030-primary {
  border: 1px solid #000;
}
#ex-030-content #ex-030-primary .ex-030-btn-in {
  width: 69px;
  height: 17px;
  line-height: 15px;
}
#ex-030-content #ex-030-cancel .ex-030-btn-in {
  width: 71px;
  height: 19px;
  line-height: 17px;
}

#ex-040-content {
  display: none;
  width: 400px;
  height: 300px;
}
#ex-040-content p {
  margin: 30px 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
#ex-040-content #ex-040-bg {
  stroke: #0e1bac;
  stroke-width: 10px;
  fill: #2069b9;
}
#ex-040-content #ex-040-bgline {
  stroke: #bfd8fd;
  stroke-width: 50px;
  fill: none;
}
#ex-040-content #ex-040-close {
  float: right;
  display: inline-block;
  padding: 1px 3px;
  background-color: #224388;
  color: #fff;
  cursor: pointer;
}
#ex-040-content #ex-040-close:hover {
  background-color: #1f99e2;
}

#ex-070-content {
  display: none;
  width: 8em;
  background-color: #fff;
}
#ex-070-content #ex-070-title {
  margin: 2px;
  padding: 5px 10px;
  background-color: #2069b9;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#ex-070-content #ex-070-close {
  min-width: 0;
}

#ex-080-content-a,
#ex-080-content-b {
  display: none;
  width: 16em;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  will-change: transform;
  transition-property: transform;
}
#ex-080-content-a p,
#ex-080-content-b p {
  font-weight: bold;
  margin: 20px 0;
}

#ex-080-content-a {
  transition-duration: 500ms;
  transform: translate(-400px, 200px) scale(0.2);
}
#ex-080-content-a.open {
  transform: translate(0) scale(1);
}

#ex-080-content-b {
  transition-duration: 800ms;
  transition-timing-function: ease-in;
  transform: rotate(1080deg) scale(0.2);
}
#ex-080-content-b.open {
  transform: rotate(0) scale(1);
}

#ex-090-content {
  display: none;
  width: 16em;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  will-change: transform;
  transition-property: transform;
  transition-duration: 400ms;
  transform: translateY(-600px);
}
#ex-090-content p {
  font-weight: bold;
  margin: 20px 0;
}
#ex-090-content.open {
  transform: translateY(0);
}

.ex-100-content {
  display: none;
  background-color: #fff;
  text-align: center;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
.ex-100-content svg {
  margin: 20px;
}

.ex-100-title {
  margin: 2px;
  padding: 5px 10px;
  background-color: #2069b9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.ex-100-title .ex-100-close {
  position: absolute;
  right: 4px;
  top: 4px;
  display: block;
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20stroke%3D%22%232069b9%22%20stroke-width%3D%228%22%20fill%3D%22none%22%20d%3D%22M0%200l32%2032M32%200l-32%2032%22%2F%3E%3C%2Fsvg%3E") no-repeat #82a3c7;
  cursor: pointer;
}
.ex-100-title .ex-100-close:hover {
  background-color: #fed766;
}

#ex-100-table {
  display: inline-block;
}
#ex-100-table div {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 2px;
  cursor: pointer;
}
#ex-100-table div.ex-100-add {
  border: 2px solid #338dbf;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

#ex-100-input {
  min-width: 0;
  vertical-align: top;
}

#ex-100-text {
  width: 8em;
  font-size: 28px;
}

#ex-110-content {
  display: none;
  width: 16em;
  background-color: #eef3d1;
  padding: 5px;
  text-align: center;
  box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
#ex-110-content p {
  font-weight: bold;
  margin: 20px 0;
}